<ion-view title="ArtIncEdit">
    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
            <a class="button icon ion-arrow-swap button-clear button-dark"
               ng-click="showDel=!showDel;showReorder=false;"></a>
            <a class="button icon ion-shuffle button-clear button-dark"
               ng-click="showReorder=!showReorder;showDel=false;"></a>
        </div>
        <h1 class="title">{{tour.tour_title}}</h1>
    </ion-header-bar>
    
    <ion-content>
        <ion-list show-reorder="showReorder" show-delete="showDel">
            <ion-item class="item-divider">Included</ion-item>
            <ion-item class="item-thumbnail-left" ng-repeat="art in includedArr track by $index">
                <img ng-src='http://www.housuggest.org/images/ARtour/{{art.artwork_id}}/{{art.image.split(",")[0]}}'>
                {{art.title}}
                <ion-reorder-button class="ion-navicon"
                        on-reorder="moveItem(art, $fromIndex, $toIndex)">
                </ion-reorder-button>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="confirmDelete($index)">
                </ion-delete-button>
            </ion-item>
            <ion-item class="item-divider">Excluded</ion-item>
            <ion-item class="item-thumbnail-left" ng-repeat="art in excludedArr track by $index">
                <img ng-src='http://www.housuggest.org/images/ARtour/{{art.artwork_id}}/{{art.image.split(",")[0]}}'>
                {{art.title}}
                <ion-delete-button class="ion-plus-circled"
                                   ng-click="confirmUndelete($index)">
                </ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
    
    <ion-footer-bar class="bar-stable">
        <div class="buttons">
            <button class="button button-positive" ng-click="onSubmit()">Submit</button>
            <a class="button button-stable" ui-sref="tab.tours">Cancel</a>
        </div>
    </ion-footer-bar>
</ion-view>