<ion-view title="ArtIncEdit">
    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
            <a class="button button-stable" ui-sref="tab.tours">Back</a>
        </div>
        <h1 class="title">Tour: {{tour.tour_title}}</h1>
        <div class="buttons">
            <button class="button button-positive" ng-click="onSubmit()">Submit</button>
        </div>
    </ion-header-bar>
    
    <ion-content>
        <div class="row">
            <div class="list col col-50">
                <div class="item item-stable item-button-right"><b>Tour Builder</b>
                    <button class="button icon ion-shuffle button-clear button-dark" ng-click="showReorder=!showReorder"></button>
                </div>
                <ion-list show-reorder="showReorder">
                    <ion-item class="item-thumbnail-left" ng-repeat="art in includedArr track by $index" ng-click="removeArtwork($index)">
                        <img ng-src='http://www.housuggest.org/images/ARtour/{{art.artwork_id}}/{{art.image.split(",")[0]}}'>
                        <b>{{art.title}}</b> by {{art.artist_name}}
                        <ion-reorder-button class="ion-navicon"
                                on-reorder="moveItem(art, $fromIndex, $toIndex)">
                        </ion-reorder-button>
                    </ion-item>
                </ion-list>
            </div>
            <div class="list col col-50">
                <ion-item class="item item-stable">
                    <b>All Artwork</b>
                </ion-item>
                <ion-list>
                    <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="art in artwork track by $index" ng-click="toggleArtwork($index)">
                        <img ng-src='http://www.housuggest.org/images/ARtour/{{art.artwork_id}}/{{art.image.split(",")[0]}}'>
                        <b>{{art.title}}</b> by {{art.artist_name}}
                        <i class="icon ion-checkmark" ng-show="selectedArr[$index]"></i>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>