<ion-view title="ImageEdit">
    
    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
            <button class="button" ng-click="showDel=!showDel;showReorder=false">Delete</button>
            <button class="button" ng-click="showReorder=!showReorder;showDel=false">Reorder</button>
        </div>
        <h1 class="title">Image Management</h1>
    </ion-header-bar>
    
    <ion-content>
        <ion-list show-reorder="showReorder" show-delete="showDel">
            <ion-item class="item item-thumbnail-left" ng-repeat="image in imageArr">
                <!--<i class="icon ion-chatbubble-working"></i>-->
                <!--<img src='{{image}}'>-->
                <img ng-src='http://www.housuggest.org/images/ARtour/{{artOb.artwork_id}}/{{image}}'>
                {{image}}
                <ion-reorder-button class="ion-navicon"
                        on-reorder="moveItem(image, $fromIndex, $toIndex)">
                </ion-reorder-button>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="confirmDelete($index)">
                </ion-delete-button>
            </ion-item>
            <div class="item item-divider" ng-show="trashArr.length>0">Trash Bin</div>
            
            <ion-item class="item item-thumbnail-left"
                      ng-repeat="image in trashArr">
                <img src='{{image}}'>
                {{image}}
                <ion-delete-button class="ion-plus-circled"
                                   ng-click="confirmUndelete($index)">
                </ion-delete-button>
            </ion-item>
        </ion-list>
        <input id="file1" type="file" ng-file-select="onFileSelect($files)" onclick="this.value=null" accept="image/*">
        <div class="padding">
            <button class="button button-block button-positive" ng-click="imageSubmit()">Submit</button>
            <button class="button button-block" ng-click="imageCancel()">Cancel</button>
        </div>
    </ion-content>
</ion-view>