<ion-view title="Main">
    
    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
            <a class="button" href="#/edit/-1">New</a>
            <button class="button" ng-click="showDel=!showDel">Delete</button>
        </div>
        <h1 class="title">Art Objects</h1>
    </ion-header-bar>
    
    <ion-content class="padding">
    <ion-list show-delete="showDel">
        <ion-item class="item" ng-repeat="object in artObjects"
                  type="item-text-wrap"
                  href="#/edit/{{object.artwork_id}}">
            <ion-delete-button class="ion-minus-circled"
                               ng-click="confirmDelete(object.title,object.artwork_id,$index)"></ion-delete-button>
            <b>{{object.title}}</b> by {{object.artist_name}}
        </ion-item>
    </ion-list>
    </ion-content>
</ion-view>