<ion-view title="TourEdit">
    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
            <button class="button" ng-click="showDel=!showDel;showReorder=false">Delete</button>
            <button class="button" ng-click="showReorder=!showReorder;showDel=false">Reorder</button>
        </div>
        <h1 class="title">{{tour.tour_title}}</h1>
    </ion-header-bar>
    
    <ion-content>
        <div class="list" show-reorder="showReorder" show-delete="showDel">
            <ion-item class="item-divider">Included</ion-item>
            <ion-item class="item-thumbnail-left" ng-repeat="art in includedArr">
                <img ng-src='http://www.housuggest.org/images/ARtour/{{art.artwork_id}}/{{art.image.split(",")[0]}}'>
                {{art.title}}
                <ion-reorder-button class="ion-navicon"
                        on-reorder="moveItem(image, $fromIndex, $toIndex)">
                </ion-reorder-button>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="confirmDelete($index)">
                </ion-delete-button>
            </ion-item>
            <ion-item class="item-divider">Excluded</ion-item>
            <ion-item class="item-thumbnail-left" ng-repeat="art in excludedArr">
                <img ng-src='http://www.housuggest.org/images/ARtour/{{art.artwork_id}}/{{art.image.split(",")[0]}}'>
                {{art.title}}
                <ion-delete-button class="ion-plus-circled"
                                   ng-click="confirmUndelete($index)">
                </ion-delete-button>
            </ion-item>
        </div>
    </ion-content>
</ion-view>